<div class="sidebar ">
  <h5><br><br><br>Recent Posts</h5>
  <ul>
    {% for post in site.posts limit:4 %}
    <li><h6><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h6></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h5>Tags</h5>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li><h6><i class="fas fa-tag"></i>
      <a href="{{ '/tag/' | append: tag[0] | relative_url }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>&nbsp&nbsp{{tag[0]}}</span></a><span>&nbsp({{tag[1].size}})</span></h6></li>
    {% endfor %}
  </ul>
</div>
